<div class="row">
  <div class="vert-pin"></div><div class="vert-pin"></div>
</div>
<div class="row">
  <div class="dit"></div>
</div>
<div class="row">
  <div class="vert-pin"></div><div class="vert-pin"></div>
</div>
<div class="row">
  <div class="vert-pin"></div><div class="vert-pin"></div>
</div>
<div class="row">
  <div class="dat"></div>
</div>
<div class="row">
  <div class="vert-pin"></div><div class="vert-pin"></div>
</div>
<div class="row">
  <div class="vert-pin"></div><div class="vert-pin"></div>
</div>
<div class="row">
  <div class="dit"></div>
</div>
<div class="row">
  <div class="vert-pin"></div><div class="vert-pin"></div>
</div>
